@model BillViewModel
@inject IViewLocalizer Localizer
<h1>Panda Shop @Localizer["newbill"]</h1>
<table>
    <tr>
        <td>@Localizer["CustomerName"]</td>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <td>@Localizer["Address"]</td>
        <td>@Model.CustomerAddress</td>
    </tr>
    <tr>
        <td>@Localizer["Phone"]</td>
        <td>@Model.CustomerMobile</td>
    </tr>
    <tr>
        <td>@Localizer["Date"]</td>
        <td>@DateTime.Now.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td>@Localizer["Details"]</td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th>@Localizer["Product"]</th>
                        <th>@Localizer["Quantity"]</th>
                        <th>@Localizer["Price"]</th>
                        <th>@Localizer["Total"]vnd</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BillDetails)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@((item.Quantity * item.Price).ToString("N0"))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            @Localizer["Total"] : @Model.BillDetails.Sum(x => x.Quantity * x.Price).ToString("N0")vnd
                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</table>