@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}
@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Trang chủ</a><span>&raquo;</span></li>
                    <li><strong>Thanh toán</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="page-title">
                    <h2>Thanh toán</h2>
                </div>
                <div class="page-content checkout-page">
                    @if (ViewData["Success"] != null)
                    {
                        if ((bool)ViewData["Success"] == true)
                        {
                            <div class="alert alert-success">
                                Thank you for your order. We are going to confirm your order soon.
                            </div>

                        }
                        else
                        {
                            <div class="alert alert-danger">
                                Have an error in order progress. Please contact to administrator.
                            </div>

                        }


                    }
                    else
                    {

                        <form action="/checkout.html" method="post">
                            @Html.AntiForgeryToken()
                            <h4 class="checkout-sep">1. Phương pháp kiểm tra</h4>
                            <div class="box-border">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5>Thanh toán với tư cách khách vãng lai hoặc đăng ký</h5>
                                        <p>Đăng ký tài khoản để thuận tiên trong tương lai:</p>
                                        <br>
                                        <h4>Đăng ký và để tiết kiệm thời gian!</h4>
                                        <p>Lợi ích khi đăng ký:</p>
                                        <p><i class="fa fa-check-circle text-primary"></i> Thanh toán nhanh chóng dễ dàng</p>
                                        <p><i class="fa fa-check-circle text-primary"></i> Dễ dàng truy cập lịch sử mua hàng</p>
                                        <button class="button" onclick="window.location.href='/register.html'"><i class="fa fa-angle-double-right"></i>&nbsp; <span>Tiếp tục</span></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>Đăng nhập</h5>
                                        <p>Chắc kèo có tài khoản chưa ? Vui lòng đăng nhập bên dưới:</p>
                                        <button class="button" onclick="window.location.href='/login.html'"><i class="icon-login"></i>&nbsp; <span>Đăng nhập</span></button>
                                    </div>
                                </div>
                            </div>

                            <h4 class="checkout-sep">2. Thông tin vận chuyển</h4>
                            <div class="box-border" >
                                <ul >
                                    <li class="row">
                                        <div class="col-sm-6">
                                            <label class="required" style="font-size: 14px;">Tên đầy đủ</label>
                                            <input class="input form-control" type="text" asp-for="CustomerName" style="font-size: 14px;">
                                        </div>
                                        <!--/ [col] -->
                                        <div class="col-sm-6">
                                            <label class="required" style="font-size: 14px;">Điện thoại người nhận</label>
                                            <input class="input form-control" type="text" asp-for="CustomerMobile" style="font-size: 14px;">
                                        </div>
                                    </li>
                                    <!--/ .row -->
                                    <!--/ .row -->

                                    <li class="row">
                                        <div class="col-xs-12">
                                            <label class="required" style="font-size: 14px;">Địa chir nhận hàng</label>
                                            <input class="input form-control" type="text" asp-for="CustomerAddress" style="font-size: 14px;">
                                        </div>
                                        <!--/ [col] -->

                                    </li>
                                    <!--/ .row -->


                                    <li class="row">
                                        <div class="col-sm-12">
                                            <label class="required" style="font-size: 14px;">Cần nói gì thì ghi vô</label>
                                            <input class="input form-control" type="text" asp-for="CustomerMessage" style="font-size: 14px;">
                                        </div>
                                        <!--/ [col] -->

                                    </li>
                                    <!--/ .row -->


                                </ul>
                            </div>
                            <h4 class="checkout-sep">3. Phương thức thanh toán</h4>
                            <div class="box-border">
                                <ul>
                                    @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                                    {
                                        <li>
                                            <label asp-for="@Model.PaymentMethods[i].Value">
                                                <input type="radio" name="paymentMethod" asp-for="PaymentMethod" value="@Model.PaymentMethods[i].Value">
                                                @Model.PaymentMethods[i].Name
                                            </label>
                                        </li>
                                    }
                                </ul>
                                <button class="button"><i class="fa fa-angle-double-right"></i>&nbsp; <span>Tiếp tục</span></button>
                            </div>
                            <h4 class="checkout-sep last">4. Kiếm tra đơn hàng</h4>
                            <div class="box-border">
                                <div class="table-responsive">
                                    <table class="table table-bordered cart_summary">
                                        <thead>
                                            <tr>
                                                <th width="20%" style="padding-left:20px" class="cart_product">Sản phẩm</th>
                                                <th width="20%">Mô tả</th>
                                                <th width="20%" style="padding-left:80px">Giá bán</th>
                                                <th width="10%">Số lượng</th>
                                                <th width="30%" style="padding-left:120px">Thành tiền</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Carts)
                                            {
                                                <tr>
                                                    <td class="cart_product"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html"><img src="@item.Product.Image" alt="@item.Product.Name"></a></td>
                                                    <td class="cart_description">
                                                        <p class="product-name"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html">@item.Product.Name </a></p>
                                                        <small><a href="#">Màu sắc : @item.Color.Name</a></small><br>
                                                        <small><a href="#">Kích thước : @item.Size.Name</a></small>
                                                    </td>
                                                    <td class="price"><span>@item.Price.ToString("N0") </span></td>
                                                    <td class="qty">@item.Quantity</td>
                                                    <td class="price"><span>@((item.Price * item.Quantity).ToString("N0")) </span></td>
                                                </tr>

                                            }


                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3"><strong>Tổng tiền</strong></td>
                                                <td colspan="2"><strong>@Model.Carts.Sum(x => x.Quantity * x.Price).ToString("N0") </strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <recaptcha /><span class="text-danger" id="recaptchaErrorMessage"></span>
                                <button type="button" class="button" onclick="window.location.href='/cart.html'"><span>Trở lại giỏ hàng</span></button>

                                <button type="submit" class="button pull-right"><span>Đặt ngay và luôn</span></button>
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
