@model CheckoutViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Checkout";
}
@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">@Localizer["Home"]</a><span>&raquo;</span></li>
                    <li><strong>@Localizer["Pay"]</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="page-title">
                    <h2>@Localizer["Pay"]</h2>
                </div>
                <div class="page-content checkout-page">
                    @if (ViewData["Success"] != null)
                    {
                        if ((bool)ViewData["Success"] == true)
                        {
                            <div class="alert alert-success">
                                @Localizer["Thankyoufor"]                                
                            </div>

                        }
                        else
                        {
                            <div class="alert alert-danger">
                                @Localizer["Haveanerror"]                                
                            </div>

                        }


                    }
                    else
                    {

                        <form action="/checkout.html" method="post">
                            @Html.AntiForgeryToken()
                            <h4 class="checkout-sep">@Localizer["CheckoutMethod"]</h4>
                            <div class="box-border">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5>@Localizer["Payas"]</h5>
                                        <p>@Localizer["Registerwith"]</p>
                                        <br>
                                        <h4>@Localizer["Registerandsavetime"]</h4>
                                        <p>@Localizer["Registerwithusforfutureconvenience"]</p>
                                        <p><i class="fa fa-check-circle text-primary"></i>@Localizer["Fastandeasycheckout"]</p>
                                        <p><i class="fa fa-check-circle text-primary"></i>@Localizer["Easyaccesstoyourorderhistoryandstatus"]</p>
                                        <button class="button" onclick="window.location.href='/register.html'"><i class="fa fa-angle-double-right"></i>&nbsp; <span>@Localizer["Continue"]</span></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>@Localizer["Login"]</h5>
                                        <p>@Localizer["AlreadyregisteredPleaseloginbelow"]</p>
                                        <button class="button" onclick="window.location.href='/login.html'"><i class="icon-login"></i>&nbsp; <span>@Localizer["Login"]</span></button>
                                    </div>
                                </div>
                            </div>

                            <h4 class="checkout-sep">@Localizer["ShippingInformation"]</h4>
                            <div class="box-border" >
                                <ul >
                                    <li class="row">
                                        <div class="col-sm-6">
                                            <label class="required" style="font-size: 14px;">@Localizer["FullName"]</label>
                                            <input class="input form-control" type="text" asp-for="CustomerName" style="font-size: 14px;" value="@User.GetSpecificClaim("FullName")">
                                        </div>
                                        <!--/ [col] -->
                                        <div class="col-sm-6">
                                            <label class="required" style="font-size: 14px;">@Localizer["Phone"]</label>
                                            <input class="input form-control" type="text" asp-for="CustomerMobile" style="font-size: 14px;" value="@User.GetSpecificClaim("PhoneNumber")">
                                        </div>
                                    </li>
                                    <!--/ .row -->
                                    <!--/ .row -->

                                    <li class="row">
                                        <div class="col-xs-12">
                                            <label class="required" style="font-size: 14px;">@Localizer["CustomerAddress"]</label>
                                            <input class="input form-control" type="text" asp-for="CustomerAddress" style="font-size: 14px;">
                                        </div>
                                        <!--/ [col] -->

                                    </li>
                                    <!--/ .row -->


                                    <li class="row">
                                        <div class="col-sm-12">
                                            <label class="required" style="font-size: 14px;">@Localizer["CustomerMessage"]</label>
                                            <input class="input form-control" type="text" asp-for="CustomerMessage" style="font-size: 14px;">
                                        </div>
                                        <!--/ [col] -->

                                    </li>
                                    <!--/ .row -->


                                </ul>
                            </div>
                            <h4 class="checkout-sep">@Localizer["PaymentInformation"]</h4>
                            <div class="box-border">
                                <ul>
                                    @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                                    {
                                        <li>
                                            <label asp-for="@Model.PaymentMethods[i].Value">
                                                <input type="radio" name="paymentMethod" asp-for="PaymentMethod" value="@Model.PaymentMethods[i].Value">
                                                @Model.PaymentMethods[i].Name
                                            </label>
                                        </li>
                                    }
                                </ul>
                                <button class="button"><i class="fa fa-angle-double-right"></i>&nbsp; <span>@Localizer["Continue"]</span></button>
                            </div>
                            <h4 class="checkout-sep last">@Localizer["OrderReview"]</h4>
                            <div class="box-border">
                                <div class="table-responsive">
                                    <table class="table table-bordered cart_summary">
                                        <thead>
                                            <tr>
                                                <th width="20%" style="padding-left:20px" class="cart_product">@Localizer["Product"]</th>
                                                <th width="20%">@Localizer["Description"]</th>
                                                <th width="20%" style="padding-left:80px">@Localizer["Price"]</th>
                                                <th width="10%">@Localizer["Quantity"]</th>
                                                <th width="30%" style="padding-left:120px">@Localizer["Total"]</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Carts)
                                            {
                                                <tr>
                                                    <td class="cart_product"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html"><img src="@item.Product.Image" alt="@item.Product.Name"></a></td>
                                                    <td class="cart_description">
                                                        <p class="product-name"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html">@item.Product.Name </a></p>
                                                        <small><a href="#">Màu sắc : @item.Color.Name</a></small><br>
                                                        <small><a href="#">Kích thước : @item.Size.Name</a></small>
                                                    </td>
                                                    <td class="price"><span>@item.Price.ToString("N0") </span></td>
                                                    <td class="qty">@item.Quantity</td>
                                                    <td class="price"><span>@((item.Price * item.Quantity).ToString("N0")) </span></td>
                                                </tr>

                                            }


                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3"><strong>@Localizer["Total"]</strong></td>
                                                <td colspan="2"><strong>@Model.Carts.Sum(x => x.Quantity * x.Price).ToString("N0") </strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <recaptcha /><span class="text-danger" id="recaptchaErrorMessage"></span>
                                <button type="button" class="button" onclick="window.location.href='/cart.html'"><span>@Localizer["Backtocart"]</span></button>

                                <button type="submit" class="button pull-right"><span>@Localizer["Agreetoorder"]</span></button>
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
