@inject IViewLocalizer Localizer
<footer id="footer" class="footer-area pt-60" style="background-color:white">
    <div class="container">
        <!-- subscribe area -->
        <div class="subscribe-area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="row">
                <div class="col-lg-6">
                    <div class="subscribe-content mt-45">
                        <h2 class="subscribe-title">@Localizer["JoinOurNewsletter"]</h2>
                        
                    </div>                    
                </div>                
            </div> <!-- row -->
        </div> <!--end subscribe area -->
        <div class="footer-widget" style="margin-top:70px; color:#fff">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <div class="footer-logo"><a href="index.html"><img src="/client-side/images/logopan.png" alt="fotter logo"></a> </div>
                    <p>@Localizer["Simply"]</p>
                    <div class="social">
                        <ul class="inline-mode">
                            <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100038735272645"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="#"><i class="fa fa-google"></i></a></li>
                            <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-network linkedin"><a title="Connect us on Pinterest" target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-7">
                    <div class="footer-link d-flex justify-content-md-between">
                        <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="footer-title">
                                <h4 class="title">@Localizer["Quick"]</h4>
                            </div>
                            <ul class="link">
                                <li><a href="/contact.html">@Localizer["Map"]</a></li>
                                <li><a href="/">@Localizer["Privacy"]</a></li>
                                <li><a href="/">@Localizer["Refund"]</a></li>
                                <li><a href="/">@Localizer["Termns"]</a></li>
                                <li><a href="/">@Localizer["Valuation"]</a></li>
                            </ul>
                        </div> <!-- footer wrapper -->
                        <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="footer-title">
                                <h4 class="title">@Localizer["Resources"]</h4>
                            </div>
                            <ul class="link">
                                <li><a href="#">@Localizer["Home"]</a></li>
                                <li><a href="/products.html">@Localizer["Products"]</a></li>
                                <li><a href="/about.html">@Localizer["About"]</a></li>
                                <li><a href="/blog.html">@Localizer["Blog"]</a></li>
                                <li><a href="/contact.html">@Localizer["Contact"]</a></li>
                            </ul>
                        </div> <!-- footer wrapper -->

                        
                    </div> <!-- footer link -->
                </div>

                <div class="col-lg-4 col-md-5 col-sm-5">
                    <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="footer-title">
                            <h4 class="title">@Localizer["Work"]</h4>
                        </div>
                        <div class="tabBlock" id="TabBlock-5">
                            <div class="footer-description link">NTTU-Phùng Thành Lộc.</div>
                            <div class="footer-description">
                                <b>@Localizer["mon"]</b> @Localizer["time"]<br>
                                <b>@Localizer["Saturday"]</b> @Localizer["time2"]<br>
                                <b>@Localizer["Sunday"]</b> @Localizer["Closed"]
                            </div>
                            <div class="payment">
                                <ul>
                                    <li><a href="#"><img title="Visa" alt="Visa" src="/client-side/images/visa.png"></a></li>
                                    <li><a href="#"><img title="Paypal" alt="Paypal" src="/client-side/images/paypal.png"></a></li>
                                    <li><a href="#"><img title="Discover" alt="Discover" src="/client-side/images/discover.png"></a></li>
                                    <li><a href="#"><img title="Master Card" alt="Master Card" src="/client-side/images/master-card.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- footer wrapper -->
                </div>                
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2021 <a href="#"> KHOA_LUAN_TOT_NGHIEP_1811544754</a>. All Rights Reserved. </div>
                    <div class="col-sm-6 col-xs-12">
                        <ul class="footer-company-links">
                            <li> <a href="#">About</a> </li>
                            <li> <a href="#">Product</a> </li>
                            <li> <a href="#">Privacy Policy</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- footer copyright -->
    </div>
</footer>

<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>
