@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Account Information";
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">@Localizer["Home"]</a><span>&raquo;</span></li>
                    <li><strong>@Localizer["MyAccount"]</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="shop-inner">
                    <div class="page-title">
                        <h2>@Localizer["MyAccount"]</h2>
                    </div>

                    <div class="about-page">
                        <div class="col-xs-12 col-sm-6">
                            <div class="single-img-add sidebar-add-slider">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">                                        
                                        <div class="item active"> <img src="@User.GetSpecificClaim("Avatar")" alt="Avatar"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h1>@Localizer["Welcometo"]<span class="text_color">Panther store</span></h1><br>
                            <p>
                                <h4>@Localizer["accountinformation"]</h4><br>
                                <br>

                            </p>
                            <ul>
                                <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#"> Tên chủ người dùng : @User.GetSpecificClaim("FullName") </a></li>
                                <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Email : @User.GetSpecificClaim("Email")</a></li>
                                <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Số điện thoại : @User.GetSpecificClaim("PhoneNumber")</a></li>
                                <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Tên tài khoản : @User.GetSpecificClaim("UserName")</a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->

<div class="main container">


</div>



<!--====== TEAM PART ENDS ======-->
